<div class="about-page">
  <div class="about-section">
      <h1>About Us</h1>
  </div>
  <div class="welcome py-sm-5 py-4">
      <div class="container py-xl-4 py-lg-2">
          <div class="row">
              <h1 class="text-left">About Online Clothing Rental System</h1>
              <div class="col-lg-6 welcome-left">
                
              </div>
                  <h2>About Our Service</h2>
                  <p>Online Clothing Rental is an online web application where customers can rent clothes for various occasions. Through a web browser, customers can search for clothing items by category, style, or designer, add items to their rental cart, and finally rent them using a credit card transaction.</p>
                  <p>Users can log in using their account details or set up a new account quickly by providing their name, contact number, and shipping address. Customers simply require a PC or laptop and a payment method to rent clothes online.</p>
              </div>
             
              <div class="welcome-left">
                  <br><br>
                  <h1 class="text-left">&ensp;What We Do ?</h1>
                  <h3 class="my-sm-3" style="margin-left:15px;">The Online Clothing Rental Website provides customers with an easy
                      and convenient way to rent clothes online through a web browser. Customers can create an account, sign in,
                      browse through a wide range of clothing items, place them into a rental cart.
                  </h3>
              </div>
              <div class="welcome-left">
                  <br><br>
                  <h1 class="text-left">&ensp;Our Vision</h1>
                  <h3 class="my-sm-3" style="margin-left:15px;">
                      <li>To shop while being in the comfort of your own home, without having to step out of the door.</li>
                      <li>Provide home delivery free of cost.</li> 
                      <li>No wait to see the products if someone else are taking that.</li>
                  </h3>
              </div>
          </div>
      </div>
  </div>
