<footer class="footer">
  <div class="copy">&copy; 2024 Clothing Rental system</div>
  <div class="bottom-links">
      <div class="links">
          <span>Social Links</span>
          <a href="https://www.faceclothes.com/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
  </div>
</footer>
